{% extends "layout.twig" %}
{% block title %} Mis favoritos {% endblock %}
{% block main_container %}
    <h2>Mis canciones favoritas</h2>
    <!-- Agregar Canción -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Fecha añadida</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{ song.date }}</td>
                    <td>{{ song.title }}</td>
                    <td>{{ song.price }}</td>
                    <td><a href="/songs/favorites/delete/{{ song._id }}">Eliminar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Precio total: {{ totalPrice }}</p>
    </div>
{% endblock %}